

<div class="container">
<%=  Order.last.total %>

  <table class="table table-bordered">
     <thead>
      <tr>
        <th>Product</th>
        <th>Order Date</th>
        <th>Order Quantity</th>
        <th>Product Price</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>

</div>