.show-image img{
  height: 200px;
  width: 200px;
}

.sale-message {
  color: red;
}

.cart-show {
  height: 200px;
  width: 200px;
}

tr, th {
  text-align: center;

}


.order-quantity {
  border-style: solid;
  border-color: #22313F;
  border-width: 1px
}