

//general styling for entire site
$lightbulb-yellow: #FF9E00;
$text-titles: #0084FF;
$blue-background: #22313F;

.well {
  background-color: $blue-background;
}
p {
    color: $lightbulb-yellow;
}
.container{
    padding: 20px;
}

h1, h2, a {
  color: $text-titles;
}

a:hover {
  color: $lightbulb-yellow;

}

// styling specific to home page 
  .jumbotron .btn{
    background-color: #22313F
  }

// styling for navigation bar 
.nav button {
  background-color: $lightbulb-yellow;
}
.logo {
  padding: 0 40px 0 0;
  display: inline;
}

// styling for index page
  .index img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .index{
  height: 150px;
  color: white;
  }
  

 