<body>
<div class = "container">
<div class="jumbotron">
  <h1>Welcome to Zach's lightbulbs</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="http://localhost:3000/storefront" role="button">Check what I'm sellin'</a></p>
</div>
</div>
<div class = "container">
  
</div>
</body>